.regform {
    position: relative;
    @media (max-width: 990px) {
        max-width: 100%;
    }
    .reg-title {
        width: 100%;
        position: absolute;
        top: -50px;
        padding: 60px 40px;
        background-color: rgba(0,5,14,0.5);
        color: #ffffff;
        border: 1px dashed rgba(255,255,255,0.5);
        border-radius: 10px;
        text-align: center;
        transform: translateY(-100%);
        @media (max-width: 960px) {
            display: none;
        }
        &:after {
            content: '';
            width: 35px;
            height: 115px;
            position: absolute;
            right: 40px;
            bottom: -32%;
            background-image: url("./green-arrow.svg");
            background-size: contain;
            background-repeat: no-repeat;
        }
        h3 {
            font-size: 32px;
            font-weight: 900;
            color: #fff;
            line-height: 1.2;
            margin-bottom: 0;
            @media(max-width: 768px) {
                font-size: 24px;
            }
            @media(max-width: 479px) {
                font-size: 24px * 0.75;
            }
        }
        span {
            display: block;
            font-family: auto;
            font-size: 30px;
            font-weight: 700;
            line-height: 1;
            color: #fff;
        }
    }
    //Regform
    .Regform {
        .inner {
            padding: 20px;
            background-color: #fff;
            border-top: 5px solid $orange;
            border-radius: 10px;
            box-shadow: 0 10px 15px 0 rgba(0,0,0,.15);
            .form-wrapper {
                position: relative;
                .form-group {
                    margin-bottom: 13px;
                    &.agreement {
                        margin-bottom: 0;
                    }
                    &.flex {
                        display: flex;
                        justify-content: space-between;
                        .form-input {
                            width: 48.5%;
                        }
                    }
                    .form-input {
                        position: relative;
                        &.password {
                            position: initial;
                        }
                        label {
                            &.like-placeholder {
                                opacity: 0;
                                position: absolute;
                                font-size: 11px;
                                top: 0;
                                padding: 0 7px;
                                color: $grey;
                                background-color: #fff;
                                pointer-events: none;
                                transition: .1s linear;
                                transform: translateX(10px) translateY(6.5px);
                            }
                        }
                        input {
                            font-size: 12px;
                            padding: 5px 10px;
                            color: #999;
                            border: 1px solid #ccc;
                            border-radius: 3px;
                            box-shadow: none !important;
                            transition: .1s linear;
                            &:hover {
                                border: 1px solid #52bce6;
                                background-color: rgba(82,188,230,.05);
                            }
                            &:focus {
                                border: 1px solid #52bce6;
                                ~ label {
                                    opacity: 1;
                                    transform: translateX(4px) translateY(-8px);
                                }
                            }
                            &.password {
                                &:focus {
                                    ~ label {
                                        transform: translateX(4px) translateY(-40px);
                                    }
                                    ~ .req {
                                        opacity: 1 !important;
                                    }
                                }
                                ~ label {
                                    top: auto;
                                    transform: translateX(4px) translateY(-24px);
                                }
                                ~ .req {
                                    opacity: 0;
                                    position: absolute;
                                    right: 0;
                                    left: 0;
                                    padding: 10px;
                                    margin-top: 10px;
                                    background-color: #fff;
                                    border: 1px solid #f0482a;
                                    pointer-events: none;
                                    z-index: 1;
                                    li {
                                        font-size: 12px;
                                        line-height: 1.25;
                                        list-style: none;
                                        &:before {
                                            content: '';
                                            display: inline-block;
                                            vertical-align: 0;
                                        }
                                        &.default {
                                            color: #f0482a;
                                            &:before {
                                                content: "x";
                                                font-size: 15px;
                                                font-weight: 500;
                                                line-height: 1;
                                                margin-right: 5px;
                                                margin-left: -2px;
                                            }
                                        }
                                        &.correct {
                                            color: limegreen;
                                            &:before {
                                                width: 5px;
                                                height: 11px;
                                                margin-right: 7px;
                                                border-color: limegreen;
                                                border-right-width: 2px;
                                                border-right-style: solid;
                                                border-bottom-width: 2px;
                                                border-bottom-style: solid;
                                                transform: rotate(45deg);
                                            }
                                        }
                                    }
                                }
                                ~ .showPass {
                                    position: absolute;
                                    right: 10px;
                                    width: 22px;
                                    height: 22px;
                                    margin-top: -27px;
                                    background-image: url("./eye.svg");
                                    background-size: contain;
                                    cursor: pointer;
                                    &:active {
                                        transform: translateY(2px);
                                    }
                                }
                            }
                        }

                        //IntTelInput
                        &.focused {
                            .intl-tel-input {
                                ~label {
                                    opacity: 1;
                                    left: 10px;
                                    transform: translateX(4px) translateY(-8px);
                                }
                                input[type="tel"] {
                                    &::placeholder {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                        .intl-tel-input {
                            width: 100%;
                            ~ label {
                                opacity: 1 !important;
                                //width: calc(100% - 55px);
                                left: 40px;
                            }
                            input[type="tel"] {
                                padding-left: 52px !important;
                                &::placeholder {
                                    opacity: 0;
                                }
                            }
                        }

                        //Agreement
                        &.agreement {
                            padding-left: 22px;
                            label {
                                font-size: 11px;
                                line-height: 1.25;
                                color: #666;
                            }
                            input[type="checkbox"] {
                                display: none;
                                + label {
                                    &:before {
                                        content: "";
                                        position: absolute;
                                        left: 0;
                                        border: 1px solid #ccc;
                                        border-radius: 4px;
                                        display: inline-block;
                                        width: 15px;
                                        height: 15px;
                                        padding-left: 0.2em;
                                        padding-bottom: 0.3em;
                                        margin-right: 0.2em;
                                        vertical-align: bottom;
                                        color: transparent;
                                        cursor: pointer;
                                        transition: .4s all;
                                    }
                                }
                                &:checked {
                                    + label {
                                        &:before {
                                            border: none;
                                        }
                                        &:after {
                                            content: '';
                                            position: absolute;
                                            top: 2px;
                                            left: 6px;
                                            width: 5px;
                                            height: 11px;
                                            border-color: limegreen;
                                            border-right-width: 2px;
                                            border-right-style: solid;
                                            border-bottom-width: 2px;
                                            border-bottom-style: solid;
                                            transform: rotate(45deg);
                                        }
                                    }
                                }
                            }
                        }

                        //Input Errors
                        .error {
                            width: 100%;
                            position: absolute;
                            bottom: -5px;
                            font-size: 10px;
                            color: #fff;
                            background-color: #f0482a;
                            padding: 0 10px;
                            border-radius: 0 0 3px 3px;
                            span {
                                font-size: 10px;
                                line-height: 1;
                            }
                        }
                    }
                    //Submit Btn
                    .registerBtn {
                        width: 100%;
                        min-height: 60px;
                        font-size: 21px;
                        font-weight: 900;
                        color: #fff;
                        padding: 12px 15px;
                        background-color: $blue;
                        border: 1px solid #25abe0;
                        border-radius: 2px;
                        outline: none;
                        &:hover {
                            opacity: .85;
                        }
                        &:active {
                            transform: translateY(2px);
                        }
                    }
                }

                //Notification
                .notification {
                    max-width: 180px;
                    margin-left: auto;
                    margin-right: auto;
                    .info {
                        > p {
                            font-size: 9px;
                            line-height: 1.25;
                            color: $grey;
                            margin: 0;
                            text-align: center;
                            &:before {
                                content: '';
                                width: 12px;
                                height: 12px;
                                display: inline-block;
                                vertical-align: -2px;
                                background-image: url("./lock.svg");
                                background-size: contain;
                            }
                        }
                        .dropdown-btn {
                            width: fit-content;
                            margin: 0 auto;
                            cursor: pointer;
                            > span {
                                display: block;
                                font-size: 9px;
                                line-height: 1.25;
                                color: $grey;
                                border-bottom: 1px dotted;
                            }
                            &:hover {
                                .dropdown {
                                    opacity: 1;
                                    pointer-events: auto;
                                }
                            }
                            .dropdown {
                                opacity: 0;
                                max-width: 180px;
                                position: absolute;
                                left: 0;
                                right: 0;
                                bottom: 15px;
                                background-color: #666;
                                padding: 10px;
                                margin: 0 auto;
                                border-radius: 5px;
                                pointer-events: none;
                                transition: .2s all;
                                &:after {
                                    content: '';
                                    position: absolute;
                                    right: calc(50% - 8px);
                                    bottom: -15px;
                                    border: 8px solid transparent;
                                    border-top: 8px solid #666;
                                }
                                p {
                                    font-size: 9px;
                                    line-height: 1.25;
                                    color: #fff;
                                    margin: 0;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
        //Response Error
        .loading-logo {
            max-height: 65px;
        }
        .response-error {
            background-color: #fff;
            padding: 30px 20px 20px;
            border-radius: 5px;
            p {
                text-align: center;
            }
            .btn-ok {
                display: block;
                font-size: 18px;
                font-weight: 700;
                padding: 5px 20px;
                color: #fff;
                background-color: $orange;
                border: none;
                border-radius: 8px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 15px;
                outline: none;
            }
        }
    }
}