.Faq {
    padding: 45px 0;
    .faq-list {
        display: flex;
        flex-wrap: wrap;
        padding-top: 15px;
        .faq-item {
            width: 33.33%;
            padding: 35px 15px;
            border-bottom: 1px solid #ececec;
            @media(max-width: 960px) {
                width: 50%;
            }
            @media(max-width: 620px) {
                width: 100%;
            }
            .wrap {
                .badge {
                    width: 62px;
                    height: min-content;
                    font-family: $rounded;
                    font-size: 25px;
                    font-weight: 700;
                    margin-right: 30px;
                    padding: 8px 15px;
                    @media(max-width: 479px) {
                        width: 40px;
                        font-size: 16px;
                        padding: 8px;
                    }
                }
                .heading {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    .badge {
                        background-color: #f7a336;
                        span {
                            color: #fff;
                        }
                    }
                    h3 {
                        font-family: $family;
                        font-size: 20px;
                        font-weight: 400;
                        margin: 0;
                    }
                }
                .descr {
                    display: flex;
                    .badge {
                        background-color: #ededed;
                    }
                    p {
                        font-size: 15px;
                        line-height: 1.3;
                    }
                }
            }
        }
    }
}