.famous-names {
    padding-bottom: 50px;
    border-bottom: 1px solid #e6e6e6;
    .container {
        .famous-name-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .famous-person {
                width: 50%;
                padding: 35px 2%;
                border-bottom: 1px solid #e6e6e6;
                @media(max-width: 768px) {
                    width: 100%;
                    padding: 35px 0;
                }
                &:nth-child(5) {
                    @media(max-width: 768px) {
                        border-bottom: 1px solid #e6e6e6 !important;
                    }
                }
                &:nth-child(5),
                &:last-child {
                    border-bottom: none;
                }
                .wrap {
                    display: flex;
                    .img {
                        margin-right: 25px;
                        img {
                            width: 160px;
                            min-width: 160px;
                            border-radius: 20px;
                            overflow: hidden;
                        }
                    }
                    .person-info {
                        h4 {
                            &.name {
                                font-size: 24px;
                                line-height: 1.2;
                                color: $orange;
                                margin-top: 0;
                                margin-bottom: 15px;
                            }
                        }
                        p {
                            font-style: italic;
                            line-height: 1.2;
                            color: #333;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}