.BottomSection {
    padding-bottom: 60px;
    .container {
        .logo {
            padding-bottom: 40px;
            img {
                max-width: 160px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .links {
            .copyrights {
                font-size: 12px;
                color: #adadad;
                margin-bottom: 15px;
                text-align: center;
            }
            ul {
                display: flex;
                justify-content: center;
                padding: 0;
                margin: 0;
                li {
                    list-style: none;
                    a {
                        font-size: 12px;
                        color: #adadad;
                        margin: 0 10px;
                        text-decoration: underline;
                        cursor: pointer;
                        &:hover {
                            color: $orange;
                        }
                    }
                }
            }
        }
        .disclaimer {
            padding: 12px;
            margin-top: 15px;
            border: 1px solid #ededed;
            border-radius: 8px;
            p {
                font-size: 12px;
                line-height: 1.1;
                color: #adadad;
                margin-top: 0;
                margin-bottom: 8px;
            }
        }
    }
}