@import 'FamousNames/FamousNames';
@import 'BitcoinTrading/BitcoinTrading';
@import 'About/About';
@import '../TopSection/Regform/Regform';

.bottom-regform {
    width: 100%;
    padding: 60px 0;
    background-image: url("./images/bitcoin_bg.jpg");
    background-size: cover;
    background-position-x: 50%;
    background-position-y: center;
    background-repeat: no-repeat;
    .container {
        .section-heading {
            margin-bottom: 7px;
        }
        .regform {
            max-width: 450px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
        }
    }
}