.header-container {
    position: relative;
    background-image: url("./images/binary_pattern.png"), url("./images/bg_crypto.jpg");
    background-repeat: repeat-x, no-repeat;
    background-size: 800px, cover;
    background-position: bottom, center;
    border-bottom: 10px solid white;
    padding: 5px 0 60px;
    margin: 0 auto;
    color: #fff;
    overflow: hidden;
    z-index: 300;
    @media screen and (min-width: 1200px) {
        padding-bottom: 250px;
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: -5%;
        width: 110%;
        height: 100%;
        background: url("./images/wave_cut.svg") no-repeat center bottom;
        @media screen and (min-width: 768px) {
            background-size: 100% 200px
        }
    }
    .container {
        .advertioral {
            margin-bottom: 15px;
            text-align: center;
            p {
                font-size: 13px;
                color: #fff;
                margin: 0;
            }
        }
        .logo {
            img {
                max-width: 250px;
            }
        }
        .text-zone {
            max-width: 600px;
            padding-top: 30px;
            h1 {
                font-size: 57px;
                line-height: 1;
                color: #fff;
                text-shadow: 0 3px 6px rgba(0,0,0,0.5);
                @media (max-width: 1280px) {
                    font-size: 40px;
                }
                @media (max-width: 479px) {
                    font-size: 26px;
                }
            }
            h2 {
                font-size: 28px;
                color: #fff;
                @media (max-width: 479px) {
                    font-size: 24px;
                }
                span {
                    display: inline-block;
                    background-color: $green;
                    padding: 3px 6px;
                    border-radius: 4px;
                    text-decoration: underline;
                    transition: .25s all;
                }
            }
        }
    }
}